<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XuanZhuanAnimationView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F1F75201C58A69800B24C51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F1F75391C58A69900B24C51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F1F75441C58A69900B24C51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
